.article-card {
  background-color: #ebebeb;
  width: 45%;
  height: 45%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

#a-title {
  text-align: center;
  font-size: large;
  font-weight: 500;
  margin-bottom: 5px;
  border-bottom: 2px rgb(209, 209, 209) solid;
}

#a-img-div{
  width: 100%;
  height: 50%;
}

#a-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#a-text{
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#a-text-body {
  padding: 10px;
}

.article-card:hover {
  border: 5px solid rgb(255, 255, 255);
  opacity: 85%;
}